body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #87ceeb;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #001f3f;
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #00509e;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #87ceeb;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}